##
## alias <connection_type>_<project_name>_<environment_type>_<server_name>_<db_name>
##

##
## database connections example
##

alias db_hr_prod_prod.example.com_foo="${WORKSPACE}/soft/psql/bin/psql -q -h prod.example.com -p 5432 -d foo -U ${PGUSER}"

alias db_finance_dev_dev.example.com_bar='bash -c '\''PGPASSWORD="SOME_PASSWORD_HERE" ${WORKSPACE}/soft/psql/bin/psql -q -h dev.example.com -p 5432 -d bar -U "admin"'\'

##
## ssh connections example
##

alias ssh_hr_prod_prod.example.com="ssh postgres@prod.example.com"

alias ssh_finance_dev_dev.example.com="ssh -i ${WORKSPACE}/keys/private/id_rsa postgres@dev.example.com"
